<html lang="en">
  <head>
    <title>Fragments Template</title>
  </head>
  <body>
    {%- block level1 %}
      <h1>{{ lvl1 }}</h1>
      {%- block level2 %}
        <h2>{{ lvl2 }}</h2>
        {%- block level3 %}
          <h3>{{ lvl3 }}</h3>
        {% endblock -%}
        <h2>End H2</h2>
      {% endblock -%}
      <h1>End H1</h1>
    {% endblock -%}
  </body>
</html>