<html lang="en">
  <head>
    <title>Messy Fragments Template</title>
  </head>
  <body>

    {% block nobreaks %}<h1>{{ text }}</h1>{% endblock %}
    
    {% block leadbreak -%}
    <h2>{{ text }}</h2>{% endblock %}
    
    {% block endbreak %}<h3>{{ text }}</h3>
    {% endblock -%}
    
    {% block extravalues  %}{# Extra values don't work in blocks #}
    <h4>{{ text }}</h4>
    {%- endblock %}

    {% 
      block splitblock
    -%}
    <h5>{{ text }}</h5>
    {% 
      endblock
    %}
  </body>
</html>