<html lang="en">
  <head>
    <title>Nested Loops Template</title>
  </head>
 <body>
    {% block header %}
      <h1>{{ headerText | upperx }}</h1>
    {% endblock %}

    {% for x in items %}
      {% block inloop %}
        <p id="{{ x }}">{{ x }}</p>
      {% endblock %}
    {% endfor %}
  </body>
</html>