---
testFM: TEST FRONT MATTER
---

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Template</title>
  </head>

  <body>
    {% include "include.html" -%}
    {% include "missing.html" ignore missing %}

    {% block header -%}
    {% include "include.html" %}
    <header>{{ header }}</header>
    {%- endblock %}
    {{ content }}
    {% block footer -%}
    <footer>{{ footer }}</footer>
    {%- endblock %}
  </body>

</html>